<!DOCTYPE html>
<html>
<head>
	<title>My First JSON Page</title>
	<link rel="stylesheet" type="text/css" href="public/css/json.css">
</head>
<body>
	<!-- <h1 class="first">First Number</h1>
	<input type="text" id="fn"/>
	<h1 class="second">Second Number</h1>
	<input type="text" id="sn"/>
	<br/>
	<button id="btnAdd" onclick="x()">Add Me</button>
	<div>The result is <span class="result">0</span></div> -->
	<div class="app"></div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="public/js/json.js"></script>
</body>
</html>